@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #E1FF2D;
  --negro: #000005;
  --blanco: #F2F2F2;
  --gris: #d2d2d2;
  --gris_ocuro: #7f7f7f;
}


/* BODY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', cursive;
}

p, a, ul, li, span {
    font-family: 'Manrope', cursive;
}

h1 {
    color: var(--blanco);
    font-size: 5.5rem;
    margin-top: -12px;
}

h2 {
    color: var(--blanco);
    font-size: 2.8rem;
}

h3 {
    font-size: 1.7rem;
    /* margin-top: 1rem; */
    color: var(--blanco);
    text-align: end;
}

h6 {
    font-size: 1.5rem;
    margin-top: auto;
    font-weight: normal;
}

p {
    color: var(--gris);
    font-size: 1.2rem;
    /* line-height: 1.2; */
}

body {
    min-height: 100vh;
    background-color: var(--negro);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


/* MENU */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
    text-align: left;
    justify-content: space-between;
    padding: 0 40px;
}

nav a {
    color: var(--blanco);
    font-size: 18px;
    transition: color 0.6s ease;
}

nav img {
    width: 40%;
    height: 40%;
}

nav #menu-toggle {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
    gap: 1rem;
}

nav ul li {
    /* width: 100%; */
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li .nav-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

nav ul li a {
    padding: 0 8px;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1;
}

/* Hover menu */
.menu-links:before,
.menu-links:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.menu-links:before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--main);
    border-left: 2px solid var(--main);
}

.menu-links:after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--main);
    border-right: 2px solid var(--main);
}

.menu-links:hover,
.menu-links a:hover {
    color: var(--main);
}

.menu-links:hover:before,
.menu-links:hover:after {
    width: 100%;
    height: 100%;
    opacity: 1;
}
