@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #E1FF2D;
  --negro: #000005;
  --blanco: #F2F2F2;
  --gris: #d2d2d2;
  --gris_ocuro: #7f7f7f;
}


/* BODY */
h1, h2, h3, h4 {
  font-family: 'Bricolage Grotesque', cursive;
}

h5, p, a, ul, li, span, button {
    font-family: 'Manrope', cursive;
}

h1 {
    color: var(--main);
    font-size: 5.5rem;
    margin-top: -12px;
}

h2 {
    color: var(--blanco);
    font-size: 2.8rem;
}

h3 {
    font-size: 1.7rem;
    /* margin-top: 1rem; */
    color: var(--blanco);
    text-align: end;
}

h4 {
    font-size: 1.5rem;
    margin-top: auto;
    font-weight: normal;
}

h5 {
    color: var(--blanco);
    font-size: 1.1rem;
    margin-top: 8px;
}

p {
    color: var(--gris);
    font-size: 1.2rem;
    /* line-height: 1.2; */
}

body {
    min-height: 100vh;
    background-color: var(--negro);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


/* MENU */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
    text-align: left;
    justify-content: space-between;
    padding: 0 40px;
}

nav a {
    color: var(--blanco);
    font-size: 18px;
    transition: color 0.6s ease;
}

nav img {
    width: 18%;
    margin-top: 18px;
}

/* M.hamburguesa y x - OCULTOS */
#icono{
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
    gap: 1rem;
}

nav ul li {
    /* width: 100%; */
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li .nav-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

nav ul li a {
    padding: 0 8px;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1;
}

/* Hover menu */
.menu-links:before,
.menu-links:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.menu-links:before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--main);
    border-left: 2px solid var(--main);
}

.menu-links:after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--main);
    border-right: 2px solid var(--main);
}

.menu-links:hover,
.menu-links a:hover {
    color: var(--main);
}

.menu-links:hover:before,
.menu-links:hover:after {
    width: 100%;
    height: 100%;
    opacity: 1;
}


/* CARRUSEL */
.carousel-container {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.main-carousel {
    width: 100%;
    height: 100%;
    position: relative;
}

.slide {
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center;
    padding: 0 10%; */
}

.slide.active {
    opacity: 1;
}

.slide-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-position: center;
    filter: brightness(0.8);
    z-index: -1;
}

.slide-content {
    max-width:58%;
    z-index: 2;
    margin-top: 40px;
}

.description {
    font-size: 1rem;
    margin-top: 12px;
    margin-bottom: 18px;
    max-width: 50%;
    color: var(--blanco);
}

.explore-link {
    display: inline-flex;
    align-items: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.explore-link i {
    margin-left: 8px;
    transition: transform 0.3s ease;
}

.explore-link:hover{
    color: var(--main);
    opacity: 1;
}

.explore-link:hover i {
    transform: translateX(5px);
}

/* BOTONES */
.carousel-controls {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    gap: 15px;
    z-index: 3;
}

.prev-btn,
.next-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.prev-btn {
    background: none;
    border: 2px solid var(--blanco);
    color: var(--blanco);
}

.prev-btn:hover {
    border: none;
}

.next-btn {
    background: var(--blanco);
    border: none;
    color: var(--negro);
}

.prev-btn:hover,
.next-btn:hover {
    background: var(--negro);
    color: var(--blanco);
}


.carousel {
    margin-bottom: 20vh;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-right: 1em;
}

.card-artistas {
    position: relative;
    flex: 0 0 4em;
    height: 3em;
    font-size: 3.4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1rem;
    transition: all 0.3s ease;
}

.card-artistas:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.card-artistas:hover h6 {
    font-weight: bold;
}

.card-artistas p,
.card-artistas .name {
    color: var(--blanco);
    text-align: left;
    z-index: 2;
}

.card-artistas p {
    font-size: 2.3rem;
    opacity: 0.7;
    font-weight: bold;
}

.card-artistas img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em;
    transition: transform 0.3s ease;
}


@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.carousel:hover .group {
    animation-play-state: paused;
}


/* Carrusel artistas de cada genero */
.artists-carousel {
    position: absolute;
    bottom: 0px;
    /* left: 0; */
    width: 100%;
    z-index: 5;
}

.linea,
.linea-titulo {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 1rem;
    margin-bottom: 1.2rem;
}

.linea-hrz {
    position: relative;
    width: 45px;
    height: 2px;
    background-color: var(--blanco);
}

.linea-hrz::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--blanco);
    border-radius: 50%;
}

.artists-container {
    display: flex;
    margin-left: auto;
    overflow-x: auto;
    width: calc(100% - 21%);
    padding-bottom: 10px;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

.artists-container::-webkit-scrollbar {
    height: 6px;
}

.artists-container::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.artists-container::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
}

.artist-card {
    flex: 0 0 auto;
    width: 180px;
    height: 240px;
    border-radius: 15px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

.artist-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.artist-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.artist-info {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artist-name {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 5px;
}



/* MARQUESINA */
.marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin-top: 2rem;
}

.track {
    display: flex;
    width: max-content;
}

.track h2 {
    margin-right: 4rem;
    color: var(--negro);
}

.marquee-left .track {
    animation: scroll-left 30s linear infinite;
    background-color: var(--main);
}

.marquee-right .track {
    animation: scroll-right 30s linear infinite;
    background-color: var(--blanco);
    margin-top: 1rem;
}

@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}


/* OPCIONES */
 #opciones {
    height: 90vh;
    width: 100%;
    max-width: 90%;
    padding: 60px 3rem;
    align-content: center;
}

#opciones a{
    display: flex;
    align-items: baseline;
}

#opciones a h2{
    font-size: 3.2rem;
    opacity: 0.5;
    margin: 1.3rem 1rem;
    transition: all 0.3s ease;
    cursor: pointer;
}

#opciones a:hover h2 {
    color: var(--blanco);
    transform: translateX(15px);
    opacity: 1;
}

#opciones a .arrow {
    width: 1.4rem;
    opacity: 0;
    transition: all 0.3s ease;
}

#opciones a:hover .arrow {
    opacity: 1;
    transform: translateX(15px);
}

section hr {
    border: none;
    height: 1px;
    background: var(--gris_ocuro);
    margin: 0;
    width: 100%;
    transition: all 0.3s ease;
}


/* TOP HITS */
#hits {
    height: 60vh;
    margin: 1% 9% 2% 9%;
    background-color: var(--blanco);
    /* border: 2px solid var(--main); */
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

#hits img {
    width: 60%;
    height: 60%;
    transition: transform 0.5s ease;
    animation: rotacion-sutil 20s linear infinite;
}

@keyframes rotacion-sutil {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#hits img:hover {
    animation-play-state: paused;
    transform: scale(1.05);
}

#hits > div {
    height: 100%;
    width: 80%;
    padding: 4%;
    display: inline-table;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#hits > div * {
    color: var(--negro);
}

#hits div > div {
    display: grid;

}

#hits > div p {
    width: 90%;
    line-height: 1;
}

#hits > div span {
    color: #989898;
    font-weight: bold;
}

#hits > div span:first-of-type {
    margin-top: 12px;
}

#hits > div button {
    padding: 11px 1rem;
    font-size: 1.1rem;
    border: 2px solid var(--negro);
    border-radius: 3rem;
    display: flex;
    gap: 12px;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

#hits > div button:hover {
    background-color: var(--negro);
    color: var(--main);
    text-decoration: none;
}

#hits > div button:hover i {
    color: var(--main);
}


/* ESCUCHADO RECIENTEMENTE */
#recientes {
    height: 75vh;
    margin-top: 7rem;
}

.linea-titulo > .linea-hrz::after {
    right: 0;
}

.escuchado {
    display: flex;
    gap: 30px; 
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0.5rem 3.8rem;
    scrollbar-width: none;
    -ms-overflow-style: none;
    cursor: pointer;
}

.escuchado::-webkit-scrollbar {
    display: none;
}

.escuchado-card {
    flex: 0 0 auto;
    width: 240px; 
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.escuchado-card > figure {
    width: 240px; 
    height: 240px; 
    margin-bottom: 5px;
    overflow: hidden;
    border-radius: 12px;
}

.escuchado-card > figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.escuchado-card > figure img:hover {
    transform: scale(1.05);
}

.escuchado-card p {
    font-size: 1rem;
}


/* TENDENCIAS */
#tendencias {
    margin-bottom: 12rem;
}

#tendencias > div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#tendencias > div:first-child a {
    color: var(--gris);
    margin-right: 3.8rem;
    transition: 0.3s ease;
}

#tendencias > div:first-child a:hover {
    color: var(--main);
    font-weight: bold;
}

#tendencias > div:last-child {
    margin: 0.5rem 3.8rem;
}

.trends-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 10px;
}

.tag.active {
    border-color: var(--blanco);
    color: var(--blanco);
}

.tag {
    padding: 6px 14px;
    font-size: 0.9rem;
    color: var(--gris_ocuro);
    border: 2px solid var(--gris_ocuro);
    border-radius: 20px;
    transition: 0.3s ease;
    cursor: pointer;
}

.tag:hover{
    border-color: var(--blanco);
    color: var(--blanco);
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.song-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.img-cont {
    position: relative;
    display: inline-block;
}

.img-cont img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    position: relative;
    object-fit: cover;
}

.play-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.play-overlay i {
    color: var(--gris);
    font-size: 24px;
    opacity: 0.8;
}

.img-cont:hover .play-overlay {
    opacity: 1;
}

.song-info h5 {
    margin-top: 0;
}

.song-info p,
.song-right p {
    font-size: 0.9rem;
    margin-top: -2px;
}

.song-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.status {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid var(--gris_ocuro);
    background: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    cursor: pointer;
}

.status i {
    font-size: 14px;
    color: var(--gris_ocuro);
}

.checked {
    background: var(--main);
    border: none;
}

.checked .fa-check {
    color: var(--negro);
}

/* FOOTER */
footer {
    background-color: var(--main);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 6rem;
    align-items: self-end;
}

footer :first-child a figure {
    height: 8rem;
    margin-left: -57px;
    transition: 0.3s ease;
}

footer :first-child a figure:hover {
    scale: 1.05;
}

footer :first-child a figure > :first-child {
    height: 12rem;
}


footer > div p {
    color: var(--negro);
    text-align: left;
    font-size: 0.9rem;
    margin-top: 1.8rem;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: pre-line;
}

.info p {
    margin-top: 0.2rem;
    text-align: center;
    color: var(--negro);
}

.info p:hover {
    font-weight: bold;
    scale: 1.1;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.icons > a {
    font-size: 1.3rem;
    color: var(--negro);
}

.icons > a i {
    transition: all 0.3s ease;
}

.icons a:hover i {
    /* color: var(--main); */
    scale: 1.1;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

#newsletter h2 {
    font-size: 1.5rem;
    color: var(--negro);
}

#newsletter div {
    margin-top: 1rem;
    border: 2px solid;
    border-radius: 2rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#newsletter div form input {
    background-color: transparent;
    border: none;
    color: var(--blanco);
}

#newsletter div form input::placeholder {
    color: var(--negro);
}

#newsletter div form input:focus {
    border-bottom-color: var(--negro);
    outline: none;
}

#newsletter div form input[type=email] {
    margin: 0 10px;
    color: var(--negro);
}

#newsletter div form input[type=submit] {
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
}

#newsletter div form input[type=submit] {
    border-radius: 18px;
    padding: 8px;
}

#newsletter div form input[type=submit]:hover {
    background: var(--main);
    color: var(--negro);
    transition: 0.3s ease;
    cursor: pointer;
}






/* RESPONSIVE */
@media (max-width: 1024px) {

    .wrapper {
        padding: 0 24px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    p, button, nav a {
        font-size: 1rem;
    }

    nav {
        padding: 0 24px;
        height: 10vh;
    }

    .slide-bg {
        height: 100vh;
        width: 100%;
        object-fit: cover;
    }

    .marquee-right .track {
        margin-top: 0.8rem;
    }

    .description {
        max-width: 80%;
    }

    .artists-container {
        width: 100%;
        margin-left: 0;
    }

    #hits {
        height: 50vh;
        padding: 1rem;
        gap: 2rem;
        margin: 1% 6% 2% 6%;
    }

    #hits > div {
        height: 100%;
        width: 80%;
        padding: 3%;
        /* display: inline-table; */
    }

    #hits > div button {
        padding: 6px 1rem;
    }

    #hits img {
        height: 230px;
    }

    #recientes {
        height: 70vh;
    }

    footer {
        flex-wrap: wrap;
        gap: 2rem;
        text-align: center;
    }

    #newsletter {
        align-items: center;
    }
}

/* tablet */
@media (max-width: 768px) {

    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.4rem;
        text-align: left;
    }

    nav img {
        width: 80%;
    }

    nav > a {
        margin-top: 32px;
    }

    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        flex-direction: column;
        justify-content: space-evenly;
        transform: translateX(-100%);
        transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
        background-color: rgb(0, 0, 0, 0.8);
        z-index: 1;
        margin: 0;
        list-style: none;
    }

    #menu-lista.activo {
        transform: translateX(0);
    }

    nav ul li {
        width: 100%;
        justify-content: center;
    }

    /* Menú hamburguesa */
    #icono {
        display: block;
        position:relative;
        z-index: 2;
    }

    #icono > div {
        width: 38px;
        height: 3px;
        background-color: var(--blanco);
        margin: 7px 0;
        transition: 0.4s;
        border-radius: 4px;
    }

    #icono:hover > div {
        cursor: pointer;
    }

    #icono.cambiar > div:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    #icono.cambiar > div:nth-child(2) {
        opacity: 0;
    }

    #icono.cambiar > div:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }
    

    .description {
        max-width: 100%;
    }

    .carousel-controls {
        top: 20px;
        right: 20px;
    }

    .card-artistas {
        flex: 0 0 3.5em;
        height: 3em;
    }

    .artist-card {
        width: 150px;
        height: 200px;
    }

    #hits {
        flex-direction: column;
        height: 38vh;
        padding: 1.5rem 0;
        align-items: baseline;
    }
    
    #hits > div {
        height: 100%;
        display: inline-table;
        padding: 0 6%;
    }

    #hits > div button {
        margin-top: 16px;
        font-size: 1rem;
    }

    #hits img {
        opacity: 0;
    }


    #recientes {
        height: 65vh;
    }

    .escuchado {
        padding: 0.5rem 1.5rem;
        gap: 20px;
    }

    .escuchado-card {
        width: 200px;
    }

    .escuchado-card figure {
        width: 200px;
        height: 200px;
    }

    .tag {
        padding: 5px 7px;
    }

    .song-info h5 {
        font-size: 1rem;
    }

    footer {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    footer > div p {
        text-align: center;
    }

    footer :first-child a figure {
        margin-left: 0;
    }

}

/* movil */
@media (max-width: 480px) {

    h1 {
        font-size: 2.6rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1rem;
    }

    nav {
        height: 9vh;
        padding: 0 16px;
    }

    .carousel-container {
        height: 90vh;
    }

    .slide {
        padding: 0 16px;
    }

    .slide-content {
        margin-top: 110px;
    }

    .carousel-controls {
        top: 16px;
        right: 16px;
        gap: 10px;
    }

    .prev-btn,
    .next-btn {
        width: 36px;
        height: 36px;
        font-size: 1.2rem;
    }

    .artists-carousel {
        bottom: 20px;
    }

    .artist-card {
        width: 130px;
        height: 180px;
    }

    #hits img {
        width: 220px;
        height: 220px;
    }

    #hits > div {
        padding: 0;
        width: 100%;
    }

    .trends-tags {
        flex-wrap: wrap;
    }

    .song {
        gap: 10px;
    }

    .song-right p {
        display: none;
    }

    footer {
        padding-bottom: 4rem;
    }
}