@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #E1FF2D;

  --negro: #000005;

  --blanco: #F2F2F2;
}


/* BODY */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', cursive;
}

p, a, ul, li, span {
  font-family: 'Manrope', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--negro);
  overflow-x: hidden;
}


/* FORM */


.cont {
  position: relative;
  width: 850px;
  height: 550px;
  background-color: var(--blanco);
  margin: 20px;
  border-radius: 30px;
  overflow: hidden;
}

.cont h1 {
  font-size: 36px;
  margin: -10px 0;
  color: var(--negro);
}

.cont p {
  color: var(--negro);
  font-size: 14px;
  margin: 15px 0;
}

form {
  width: 100%;
}

.form-box {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--negro);
  padding: 40px;
  z-index: 1;
  transition: 0.6s ease-in-out 1.2s;
  visibility: 0s 1s;
}

.cont.active .form-box {
  right: 50%;
}

.form-box .register {
  visibility: hidden;
}

.cont.active .form-box .register {
  visibility: visible;
}

.input-box {
  position: relative;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background-color: var(--main);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 16px;
  color: var(--negro);
  font-weight: bold;
}

.input-box input::placeholder {
  color: rgba(0, 0, 0, 0.505);
  font-weight: 400;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.forgot-link {
  margin: -15px 0 15px;
}

.forgot-link a {
  font-size: 14px;
  color: var(--negro);
}

.boton {
  width: 100%;
  height: 48px;
  background: var(--main);
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: var(--negro);
  font-weight: bold;
  transition: transform 0.3s ease
}

.boton-2:hover {
  transform: translateY(-5px);
  background: var(--negro);
  color: var(--blanco);
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a{
  display: inline-flex;
  padding: 10px;
  border: 2px solid #000005;
  font-size: 24px;
  color: var(--negro);
  margin: 0 8px;
}

.toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle-box::before {
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: var(--main);
  border-radius: 150px;
  z-index: 2;
  transition: 1.8s ease-in-out;
}

.cont.active .toggle-box::before {
  left: 50%;
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  color: var(--blanco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: 0.6s ease-in-out;
}

.toggle-panel.toggle-left {
  left: 0;
  transition-delay: 1.2s;
}

.cont.active .toggle-panel.toggle-left {
  left: -50%;
  transition-delay: 0.6s;
}

.toggle-panel.toggle-right {
  right: -50%;
  transition-delay: 0.6s;
}

.cont.active .toggle-panel.toggle-right {
  right: 0;
  transition-delay: 1.2s;
}

.toggle-panel p {
  margin-bottom: 20px;
}

.toggle-panel .boton {
  width: 160px;
  height: 46px;
  background: transparent;
  border: 2px solid var(--negro);
  transition: all 0.3s ease;
}

.toggle-panel .register-boton:hover {
  transform: translateY(-5px);
  background: var(--negro);
  color: var(--blanco);
}

.toggle-panel .login-boton:hover {
  transform: translateY(-5px);
  background: var(--negro);
  color: var(--blanco);
}