@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #E1FF2D;

  --negro: #000005;

  --blanco: #F2F2F2;
}


/* BODY */


h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', cursive;
}

p, a, ul, li, span {
    font-family: 'Manrope', cursive;
}

body {
    min-height: 100vh;
    background-color: var(--negro);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


/* MENU */


.logo {
    height: 40%;
    width: 40%;
}

nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    text-align: left;
}

nav#menu a {
    color: var(--blanco);
    font-size: 18px;
    margin: 30px 0 0 0;
    transition: color 0.6s ease;
}

nav#menu .menu-toggle {
    display: none;
}

nav#menu ul {
    margin-top: 11vh;
    width: 100%;
    margin-left: 12vh;
}

nav#menu ul li {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 10px;
    padding: 10px 0;
}

nav#menu ul li .nav-icon {
    width: 20px;
    height: 20px;
}

nav#menu ul li a {
    display: block;
    padding: 15px;
    width: 100%;
    color: var(--blanco);
    transition: background-color 0.3s ease;
}

nav#menu ul li a:hover {
    background-color: var(--main);
    color: var(--negro);
}


/* MENU TOP */


nav#menu.top {
    width: 100%;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 40px;
}

nav#menu.top ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
}

nav#menu.top ul li a {
    padding: 0 15px;
}


/* HEADER */

