@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #E1FF2D;

  --negro: #000005;

  --blanco: #F2F2F2;
}


/* BODY */


body {
    min-height: 100vh;
    background-color: var(--negro);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


/* MENU */


.logo {
    height: 5%;
    width: 5%;
}

nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    text-align: left;
}

nav#menu a {
    color: var(--blanco);
    font-size: 18px;
    margin: 30px 0 0 0;
    transition: color 0.6s ease;
}

nav#menu .menu-toggle {
    display: none;
}

nav#menu ul {
    margin-top: 11vh;
    width: 100%;
    margin-left: 12vh;
}

nav#menu ul li {
    width: 100%;
}

nav#menu ul li a {
    display: block;
    padding: 15px;
    width: 100%;
    color: var(--blanco);
    transition: background-color 0.3s ease;
}

nav#menu ul li a:hover {
    background-color: var(--main);
    color: var(--negro);
}


/* HEADER */

.centrar {
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-right: 18vh;
    margin-left: 25vh;
    align-content: center;
}

h1 {
    color: var(--main);
    font-size: 20vh;
    margin-bottom: 3vh;
}

p {
    color: var(--blanco);
    font-size: 3.5vh;
}


/* CANTANTES */

.carousel {
    margin: 100px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 23s infinite linear;
    padding-right: 1em;
}

.card {
    position: relative;
    flex: 0 0 6em;
    height: 7em;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.carousel:hover .group {
    animation-play-state: paused;
}

.card p {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2.3rem;
    font-weight: bold;
    opacity: 0.8;
    color: var(--blanco);
    z-index: 2;
}

.card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em;
}

.card .name {
    position: absolute;
    transform: translateX(-50%);
    left: 36%;
    bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    color: var(--blanco);
    z-index: 2;
}