@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #0095ac;

  --secundario: #0C3C78;

  --detalles: #8758FF;

  --negro: #000005;

  --blanco: #F2F2F2;
}


/* BODY */


body {
    min-height: 100vh;
    background-color: var(--negro);
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


/* MENU */


.logo {
    height: 5%;
    width: 5%;
}

nav#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18vh;
    z-index: 1000;
}

nav#menu a {
    color: var(--blanco);
    font-size: 18px;
    text-align: center;
    margin: 30px 0 0 0;
    transition: color 0.6s ease;
}

nav#menu .menu-toggle {
    display: none;
}

nav#menu ul {
    margin-top: 8vh;
    width: 100%;
}

nav#menu ul li {
    width: 100%;
    text-align: left;
}

nav#menu ul li a {
    display: block;
    padding: 15px;
    width: 100%;
    color: var(--blanco);
    transition: background-color 0.3s ease;
}

nav#menu ul li a:hover {
    background-color: var(--secundario);
}


/* HEADER */

.centrar {
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    text-align: right;
    margin-right: 18vh;
    margin-left: 25vh;
    align-content: center;
}

h1 {
    color: var(--blanco);
    font-size: 20vh;
    margin-bottom: 3vh;
}

p {
    color: var(--blanco);
    font-size: 3.5vh;
}