@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #E1FF2D;
  --negro: #000005;
  --blanco: #F2F2F2;
  --gris: #d2d2d2;
}


/* BODY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', cursive;
}

p, a, ul, li, span {
    font-family: 'Manrope', cursive;
}

h1 {
    color: var(--main);
    font-size: 7.5rem;
}

h2 {
    color: var(--blanco);
    font-size: 2.8rem;
}

p {
    color: var(--gris);
    font-size: 1.4rem;
    line-height: 1.2;
}

body {
    min-height: 100vh;
    background-color: var(--negro);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


/* MENU */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
    text-align: left;
    justify-content: space-between;
    padding: 0 40px;
}

nav a {
    color: var(--blanco);
    font-size: 18px;
    transition: color 0.6s ease;
}

nav img {
    width: 40%;
    height: 40%;
}

nav #menu-toggle {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
    gap: 1rem;
}

nav ul li {
    /* width: 100%; */
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li .nav-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

nav ul li a {
    padding: 0 8px;
    width: 100%;
    transition: background-color 0.3s ease;
}

/* Hover menu */
.menu-links:before,
.menu-links:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 0;
    /* box-sizing: border-box; */
}

.menu-links:before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--main);
    border-left: 2px solid var(--main);
}

.menu-links:after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--main);
    border-right: 2px solid var(--main);
}

.menu-links:hover,
.menu-links a:hover {
    color: var(--main);
}

.menu-links:hover:before,
.menu-links:hover:after {
    width: 100%;
    height: 100%;
    opacity: 1;
}


/* HEADER */
.centrar {
    min-height: 80vh;
    text-align: right;
    margin-right: 5vh;
    padding-top: 8rem;
}


/* SECCION - CANTANTES */
.linea-titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

.linea-hrz {
    position: relative;
    width: 45px;
    height: 2px;
    background-color: var(--blanco);
}

.linea-hrz::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--blanco);
    border-radius: 50%;
}

.carousel {
    margin-bottom: 20vh;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 25s infinite linear;
    padding-right: 1em;
}

.card {
    position: relative;
    flex: 0 0 6em;
    height: 7em;
    padding: 1em;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
    overflow: hidden;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.carousel:hover .group {
    animation-play-state: paused;
}

.card p {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 2.3rem;
    font-weight: bold;
    opacity: 0.8;
    color: var(--blanco);
    z-index: 2;
}

.card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em;
    transition: transform 0.3s ease;
}

.card .name {
    position: absolute;
    transform: translateX(-50%);
    left: 36%;
    bottom: 10px;
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    color: var(--blanco);
    z-index: 2;
}

.card:hover img {
    transform: scale(1.2);
}


/* RANKING */


.ranking {
    width: 90%;
    color: var(--blanco);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ranking-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 15px 0;
    font-size: 0.9rem;
    opacity: 0.8;
    border-bottom: 1px solid var(--blanco);
}

.ranking-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid var(--blanco);
    transition: background 0.3s ease;
}

.ranking-row:hover {
    background: rgba(255, 255, 255, 0.17);
}

.artist {
    display: flex;
    align-items: center;
    gap: 15px;
}

.rank {
    color: var(--main);
    font-size: 2rem;
    opacity: 0.5;
    width: 40px;
    margin-right: 15px;
}

.artist img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 4px;
}

.info h4 {
    font-size: 1rem;
    margin: 0;
}

.info p {
    font-size: 0.8rem;
    opacity: 0.5;
}

.plays, .album {
    font-size: 0.9rem;
    opacity: 0.8;
}


/* INFO */


.artist-info {
    width: 60%;
    color: var(--blanco);
    margin: 25vh 45vh 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
}

.artist-info h2 {
    font-size: 5.5rem;
    position: absolute;
    top: -17%;
    left: 23%;
    z-index: 1;
}

.img-container {
    position: relative;
    width: 100%;
    display: flex;
    left: -35%;
}

.img-container img {
    width: 95%;
    height: auto;
    object-fit: cover;
    z-index: 0;
}

.artist-info p {
    position: absolute;
    top: 8vh;
    left: 50%;
    font-size: 3.2rem;
    font-weight: bold;
    opacity: 0.6;
    color: var(--blanco);
    z-index: 1;
}

.stats-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    color: var(--blanco);
    gap: 30px;
    margin: 40px 0;
    position: relative;
}

.stat {
    text-align: center;
    padding: 0 12vh;
    min-width: 140px;
    position: relative;
}

.number-container {
    height: 70px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 4.2rem;
    font-weight: bold;
}

.label {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 6px;
}

.linea {
    width: 1px;
    height: 70px;
    background: var(--main);
}

.artist-info-right {
    width: 60%;
    color: var(--blanco);
    margin: 20vh 45vh 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
}

.artist-info-right h2 {
    font-size: 5.5rem;
    position: absolute;
    top: -17%;
    left: 30%;
    z-index: 1;
}

.img-container-right {
    position: relative;
    width: 100%;
    display: flex;
    left: 32.4%;
}

.img-container-right img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 0;
}

.artist-info-right p {
    position: absolute;
    top: 8vh;
    left: 34%;
    font-size: 3.2rem;
    font-weight: bold;
    opacity: 0.6;
    color: var(--blanco);
    z-index: 1;
}


/* REPRODUCTOR DE MUSICA */


.music-cont {
    width: 1%;
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

.vinilo {
    width: 220px;
    border-radius: 50%;
}

.music-player h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--blanco);
    margin-top: 20px;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background-color: var(--blanco);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--negro);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid var(--blanco);
}

.controles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controles div {
    width: 60px;
    height: 60px;
    margin: 20px;
    background: var(--negro);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--blanco);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    cursor: pointer;
}

.controles div:nth-child(2) {
    transform: scale(1.5);
    background: var(--main);
    color: var(--negro);
    box-shadow: none;
}


/* FOOTER */


.footer {
  background-color: var(--main);
  color: var(--negro);
  padding: 1px 10px 30px;
  margin-top: 10vh;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1300px;
  margin: 0 auto;
}

.footer-container h2 {
  font-size: 1.3em;
  margin-bottom: 15px;
  color: var(--negro);
}

.text-logo {
  display: block;
  align-items: center;
  gap: 10px;
  transition: transform 0.3s ease;
}

.text-logo h4 {
  font-size: 1.5em;
}

.text-logo:hover {
  transform: scale(1.07);
}

.footer-logo img {
  width: 15em;
  height: auto;
  display: flex;
}

.footer-info {
  text-align: center;
}

.footer-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--negro);
}

.footer-info ul li {
  margin-bottom: 8px;
  font-size: 14px;
  display: block;
  transition: transform 0.3s ease;
}

.footer-info ul li:hover {
  transform: scale(1.2);
  font-weight: bold;
}

.footer-info p {
  margin-bottom: 8px;
  font-size: 14px;
  color: var(--negro);
}

.footer a:link,
.footer a:visited {
  color: var(--negro);
  text-decoration: none;
}

.footer a:hover {
  color: var(--negro);
  transition: 0.3s ease;
}

.social-icons i {
  font-size: 18px;
  margin-right: 12px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons i:hover {
  transform: scale(1.2);
}

.copy {
  text-align: center;
  display: flex;
  margin-top: 30px;
  font-size: 16px;
  color: var(--negro);
  justify-content: center;
}


/* ANIMACIONES */

.scroll {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 35%;
}

.scroll-foot {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 28%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.scroll-slide-right {
    animation: slideright 5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 45%;
}

@keyframes slideright {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.scroll-slide-left {
    animation: slideleft 5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes slideleft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}