@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Manrope:wght@200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
}

:root {
  --main: #E1FF2D;
  --negro: #000005;
  --blanco: #F2F2F2;
  --gris: #d2d2d2;
  --gris_ocuro: #7f7f7f;
}


/* BODY */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bricolage Grotesque', cursive;
}

p, a, ul, li, span {
    font-family: 'Manrope', cursive;
}

h1 {
    color: var(--main);
    font-size: 7.5rem;
}

h2 {
    color: var(--blanco);
    font-size: 2.8rem;
}

h3 {
    font-size: 1.7rem;
    margin-top: 1rem;
    color: var(--blanco);
}

h6 {
    font-size: 2.5rem;
    margin-top: auto;
}

p {
    color: var(--gris);
    font-size: 1.4rem;
    line-height: 1.2;
}

body {
    min-height: 100vh;
    background-color: var(--negro);
    overflow-x: hidden;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}


/* MENU */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
    text-align: left;
    justify-content: space-between;
    padding: 0 40px;
    transition: 0.3s ease;
}

nav a {
    color: var(--blanco);
    font-size: 18px;
    transition: color 0.6s ease;
}

nav img {
    width: 18%;
}

/* M.hamburguesa y x - OCULTOS */
#icono{
    display: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: auto;
    gap: 1rem;
}

nav ul li {
    /* width: 100%; */
    display: flex;
    align-items: center;
    position: relative;
}

nav ul li .nav-icon {
    width: 20px;
    height: 20px;
    margin: 5px;
    filter: brightness(0) invert(1);
    transition: filter 0.3s ease;
}

nav ul li a {
    padding: 0 8px;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1;
}

/* Hover menu */
.menu-links:before,
.menu-links:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease;
}

.menu-links:before {
    top: 0;
    left: 0;
    border-top: 2px solid var(--main);
    border-left: 2px solid var(--main);
}

.menu-links:after {
    bottom: 0;
    right: 0;
    border-bottom: 2px solid var(--main);
    border-right: 2px solid var(--main);
}

.menu-links:hover,
.menu-links a:hover {
    color: var(--main);
}

.menu-links:hover:before,
.menu-links:hover:after {
    width: 100%;
    height: 100%;
    opacity: 1;
}


/* HEADER */
.centrar {
    min-height: 80vh;
    text-align: right;
    margin-right: 5vh;
    padding-top: 8rem;
}


/* SECCION - CANTANTES */
.linea-titulo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1rem;
}

.linea-hrz {
    position: relative;
    width: 45px;
    height: 2px;
    background-color: var(--blanco);
}

.linea-hrz::after {
    content: '';
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background-color: var(--blanco);
    border-radius: 50%;
}

.carousel {
    margin-bottom: 20vh;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: spin 25s infinite linear;
    padding-right: 1em;
}

.card {
    position: relative;
    flex: 0 0 6em;
    height: 7em;
    font-size: 3.4rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 1rem;
}

.card p,
.card .name {
    margin: 0;
    align-self: flex-start;
    color: var(--blanco);
    text-align: left;
    position: static;
    z-index: 2;
}

.card p {
    font-size: 2.3rem;
    opacity: 0.7;
    font-weight: bold;
}

.card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .2em;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.2);
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

.carousel:hover .group {
    animation-play-state: paused;
}


/* RANKING */
.ranking {
    width: 90%;
    color: var(--blanco);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
}

.ranking-header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 15px 0;
    border-bottom: 1px solid var(--main);
}

.ranking-header p {
    font-size: 1.2rem;
    font-weight: 400;
}

.ranking-row {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    position: relative;
}

.ranking-row:hover {
    background: rgba(255, 255, 255, 0.17);
}

.artist {
    display: flex;
    align-items: center;
    gap: 15px;
}

.rank {
    color: var(--blanco);
    font-size: 2rem;
    width: 40px;
    margin-right: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease;
}

.ranking-row:hover .rank {
    text-shadow: 
        0 0 10px var(--main),
        0 0 20px var(--main),
        0 0 20px var(--main);
}

.artist img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 4px;
}

.info h4 {
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.info p {
    font-size: 0.8rem;
    font-style: italic;
    opacity: 0.5;
}

.plays,
.album {
    font-family: 'Manrope', cursive;
    font-size: 0.9rem;
    opacity: 0.8;
    text-transform: uppercase;
}


/* INFO */
#info {
    padding-top: 3rem;
}
.artist-info {
    width: 60%;
    color: var(--blanco);
    margin: 20vh 45vh 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
}

.artist-info h2 {
    font-size: 5.2rem;
    position: absolute;
    top: -14%;
    left: 23%;
    z-index: 1;
}

.img-container {
    position: relative;
    width: 100%;
    display: flex;
    left: -35%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.scroll-left>p {
    position: absolute;
    top: 4vh;
    left: 50%;
    font-size: 3.2rem;
    font-weight: bold;
    opacity: 0.6;
    color: var(--blanco);
    z-index: 1;
}

.stats-info {
    padding: 30px 0px;
    color: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
    position: relative;
}

.stat {
    text-align: center;
    padding: 0 12vh;
    min-width: 140px;
    position: relative;
}

.number-container {
    height: 70px;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 3rem;
    font-family: 'Bricolage Grotesque', cursive;
    font-weight: bold;
}

.label {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Manrope', cursive;
}

.linea {
    width: 2px;
    height: 80px;
    background: var(--gris_ocuro);
    border-radius: 2px;
}

.artist-info-right {
    width: 60%;
    color: var(--blanco);
    margin: 20vh 45vh 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
}

.artist-info-right h2 {
    font-size: 5.2rem;
    position: absolute;
    top: -15%;
    left: 30%;
    z-index: 1;
}

.img-container-right {
    position: relative;
    width: 100%;
    display: flex;
    left: 32.4%;
}

.img-container-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.artist-info-right p {
    position: absolute;
    top: 8vh;
    left: 34%;
    font-size: 3.2rem;
    font-weight: bold;
    opacity: 0.6;
    color: var(--blanco);
    z-index: 1;
}


/* REPRODUCTOR DE MUSICA */
.music-cont {
    width: 1%;
    background-color: var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player {
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}

.song-info {
    text-align: center;
    margin-bottom: 1rem;
}

.song-info p {
    font-size: 1rem;
}

.song-info p>span{
    font-style: italic;
}

.vinilo {
    width: 220px;
    border-radius: 50%;
}

#progress {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background-color: var(--blanco);
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}

#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--negro);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid var(--blanco);
}

.controles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controles div {
    width: 20px;
    margin: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.controles div:nth-child(2) {
    transform: scale(1.5);
    box-shadow: none;
}

.controles div:not(:nth-child(2)):hover {
    scale: 1.2;
}

.controles div:nth-child(2):hover {
    color: var(--main);
    scale: 1.1;
}


/* FOOTER */
footer {
    background-color: var(--main);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 6rem;
    align-items: self-end;
}

footer :first-child a figure {
    height: 8rem;
    margin-left: -57px;
    transition: 0.3s ease;
}

footer :first-child a figure:hover {
    scale: 1.05;
}

footer :first-child a figure > :first-child {
    height: 12rem;
}


footer > div p {
    color: var(--negro);
    text-align: left;
    font-size: 0.9rem;
    margin-top: 1.8rem;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: pre-line;
}

.info-footer p {
    margin-top: 0.2rem;
    text-align: center;
    color: var(--negro);
}

.info-footer p:hover {
    font-weight: bold;
    scale: 1.1;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}

.icons > a {
    font-size: 1.3rem;
    color: var(--negro);
}

.icons > a i {
    transition: all 0.3s ease;
}

.icons a:hover i {
    /* color: var(--main); */
    scale: 1.1;
}

#newsletter {
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

#newsletter h2 {
    font-size: 1.5rem;
    color: var(--negro);
}

#newsletter div {
    margin-top: 1rem;
    border: 2px solid;
    border-radius: 2rem;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#newsletter div form input {
    background-color: transparent;
    border: none;
    color: var(--blanco);
}

#newsletter div form input::placeholder {
    color: var(--negro);
}

#newsletter div form input:focus {
    border-bottom-color: var(--negro);
    outline: none;
}

#newsletter div form input[type=email] {
    margin: 0 10px;
    color: var(--negro);
}

#newsletter div form input[type=submit] {
    background-color: var(--negro);
    color: var(--blanco);
    border: none;
    font-weight: 600;
    transition: 0.3s ease;
}

#newsletter div form input[type=submit] {
    border-radius: 18px;
    padding: 8px;
}

#newsletter div form input[type=submit]:hover {
    background: var(--main);
    color: var(--negro);
    transition: 0.3s ease;
    cursor: pointer;
}


/* ANIMACIONES */
.scroll {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 35%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.scroll-right {
    animation: slideright 5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 45%;
}

@keyframes slideright {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.scroll-left {
    animation: slideleft 5s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 30%;
}

@keyframes slideleft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.music-player img {
    transition: transform 0.5s ease;
    animation: rotacion-sutil 25s linear infinite;
}

@keyframes rotacion-sutil {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.music-player img:hover {
    transform: scale(1.05);
}


/* RESPONSIVE */
@media (max-width: 768px) {
    h1 {
        font-size: 5rem;
        line-height: 1;
        text-align: right;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1.3rem;
        text-align: right;
    }

    nav {
        justify-content: flex-start; 
        padding: 0 20px;
    }

    nav img {
        width: 15%;
    }

    #menu-lista {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.95);
        transition: 0.5s ease;
        z-index: 1000;
    }

    #menu-lista.activo {
        right: 0;
    }

    #menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 900;
        display: none;  
    }

    #menu-overlay.activo {
        display: block;
    }

    .menu-links a {
        font-size: 22px;
    }

    #icono {
        display: block;
        position: fixed;
        right: 20px;
        top: 4vh;
        z-index: 2000;
        cursor: pointer;
    }

    #icono > div {
        width: 38px;
        height: 3px;
        background-color: var(--blanco);
        margin: 7px 0;
        transition: 0.4s;
        border-radius: 4px;
    }

    #icono:hover > div {
        cursor: pointer;
    }

    #icono.cambiar > div:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    #icono.cambiar > div:nth-child(2) {
        opacity: 0;
    }

    #icono.cambiar > div:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .cantantes {
        margin-top: 20%;
    }

    .centrar {
        text-align: right;
        margin-right: 0;
        padding-top: 6rem;
        min-height: 30vh;
    }

    .carousel {
        margin-bottom: 20vh;
        width: 100%;
        display: flex;
        overflow: hidden; 
        touch-action: none; 
        user-select: none; 
}

    .card {
        /* flex: 0 0 5em; */
        height: 6.5em;
        font-size: 2.2rem;
    }

    .card .name {
        font-size: 1.8rem;
    }

    .artist {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .artist img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }

    .artist-info, .artist-info-right {
        width: 100%;
        margin: 10vh auto 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }

    .artist-info-right {
        flex-direction: column-reverse;
    }

    .artist-info h2, .artist-info-right h2 {
        font-size: 3rem;
        position: static;
        text-align: center;
        margin-bottom: 10px;
    }

    .scroll-left p,
    .scroll-right p {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 16px;
    }

    .song-info p {
        font-size: 1rem;
        text-align: center;
    }


    .img-container, .img-container-right {
        position: static;
        width: 100%;
        max-width: 480px;
        margin: 0 auto 30px;
    }

    .img-container img, .img-container-right img {
        width: 100%;
        border-radius: 25px;
    }

    .music-cont {
        width: 60%;
        margin-top: 10px;
    }

    .music-player {
        width: 100%;
        padding: 15px;
    }

    .vinilo {
        width: 150px;
    }

    .stat {
        padding: 0;
    }

    .scroll-foot {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0 cover 14%;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    footer > div p {
        text-align: center;
    }

    footer :first-child a figure {
        margin-left: 0;
    }

    #newsletter {
        align-items: center;
    }
}


@media (max-width: 400px) {
     h1 {
        font-size: 2.5rem;
        line-height: 1;
        text-align: right;
    }

    h2 {
        font-size: 2rem;
    }

    p {
        font-size: 0.9rem;
        text-align: right;
    }

    nav {
        padding: 0 20px;
    }

    nav img {
        width: 15%;
    }

    #menu-lista {
        width: 40%;
    }

    #menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 900;
        display: none;  
    }

    #menu-overlay.activo {
        display: block;
    }

    .menu-links a {
        font-size: 22px;
    }

    #icono {
        display: block;
        position: fixed;
        z-index: 2000;
    }

    #icono > div {
        width: 38px;
        height: 3px;
        background-color: var(--blanco);
        margin: 7px 0;
        transition: 0.4s;
        border-radius: 4px;
    }

    #icono:hover > div {
        cursor: pointer;
    }

    #icono.cambiar > div:nth-child(1) {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    #icono.cambiar > div:nth-child(2) {
        opacity: 0;
    }

    #icono.cambiar > div:nth-child(3) {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .centrar {
        text-align: right;
        margin-right: 0;
        padding-top: 6rem;
        min-height: 30vh;
    }

    .carousel {
        margin-bottom: 20vh;
        width: 100%;
        display: flex;
        overflow: hidden; 
        touch-action: none; 
        user-select: none; 
    }

    .card {
        flex: 0 0 5em;
    }

    .card .name {
        font-size: 1.8rem;
    }

    .all-rows {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
    }

    .ranking-header {
        display: none;
    }

    .ranking-row {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        gap: 10px;
    }

    .artist {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .artist img {
        width: 90px;
        height: 90px;
        border-radius: 5px;
    }

    .rank {
        font-size: 1.2rem;
        min-width: 30px;
        color: var(--main);
    }

    .info h4 {
        font-size: 1.1rem;
        margin: 0;
    }

    .info p {
        font-size: 0.9rem;
        opacity: 0.7;
    }

    .plays, .album {
        font-size: 0.85rem;
        padding-left: 45px;
    }

    .plays::before {
        content: "Reproducciones: ";
        color: var(--gris);
        font-weight: bold;
    }

    .album::before {
        content: "Álbum: ";
        color: var(--gris);
        font-weight: bold;
    }

    .artist-info, .artist-info-right {
        width: 100%;
        margin: 5vh auto 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
    }

   .artist-info h2, .artist-info-right h2 {
        font-size: 2.2rem;
    }

    .number {
        font-size: 3rem;
    }

    .label {
        font-size: 1.2rem;
        text-align: center;
    }

    .controles div {
        width: 40px;
        height: 40px;
        margin: 10px;
    }

    .vinilo {
        width: 130px;
    }

   .stats-info {
        flex-direction: row;
        gap: 20px;
        padding: 40px 20px;
        margin: 20px 0;
    }

    .stat {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: unset;
    }

    .number {
        font-size: 1.7rem;
        line-height: 1;
    }

    .label {
        text-align: center;
        font-size: 1rem;
        margin-top: 5px;
    }

    .linea {
        margin: 15px;
        width: 3px;
        height: 65px;
        background: var(--main);
    }

    .scroll-foot {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0 cover 14%;
    }

    footer {
        padding-bottom: 4rem;
    }
}